body {
font-family: 'Itim', cursive;
font-family: 'Montserrat Alternates', sans-serif;
background-color: #53A3AC;
color: papayawhip;

}

header {
background-color: #AC5C53;
color: black;
font-weight: bolder;

}